<style>
  body { padding: 0; margin: 0; }
</style>

<div id="formwrapper">
  <%= form_tag preview_fabric_variants_path, multipart: true, id: "image_preview_form", class: 'form-inline' do %>
    <%= file_field_tag :image, accept: "image/*" %>
  <% end %>
</div>
 
<script>
  var pwin = window.parent, pdoc = pwin.document;

  pwin.$("#loading-message").html('');

  var error = pwin.$('<div class="alert alert-danger" style="display: none"></div>').prependTo(".modal-content .simple_form")[0];
  var showError = function (msg) {
    error.innerHTML = msg;
    error.style.display = "block";
    setTimeout(hideError, 5000);
  }
  var hideError = function () {
    error.innerHTML = '';
    error.style.display = "none";
  }

  var exts = [/\.jpe?g$/i, /\.gif$/i, /\.png$/i];

  //automatically submit the form
  document.getElementById("image").onchange = function() {
    var form = document.getElementById("image_preview_form");

    var valid = false, fileName = this.value;
    for (var i=0; i<exts.length; i++) {
      if (exts[i].test(fileName)) {
        valid = true;
        break;
      }
    }

    if (!valid) {
      showError("Image must be of of type: jpg, png, or gif");
      form.reset();
      return;
    }

    hideError();

    form.submit();
    document.getElementById("formwrapper").removeChild(form);
    pwin.$("#loading-message").setLoading();
  };
  
  <% if @image %>
  // if an image was uploaded, replace the relevant parts of the parent form
  pdoc.getElementById("fabric_variant_image_crop").value = null;
  pdoc.getElementById("fabric_variant_retained_image").value = "<%= @retained_image %>";
  pwin.$("#fabric_variant_color").minicolors('value', "<%= @colors[0] %>");
  var imgs = pdoc.getElementsByClassName("fabric_image");
  for (var i=0; i<imgs.length; i++) { 
    imgs[i].src = "<%= @image.url  %>"; 
    imgs[i].onload = function () {
      (--i == 0) && pwin.crop.open();
    };
  }

  <% end %>
</script>
